* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #4A4A4A;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #EBEBEB;
    z-index: 500;
}

div.nameandtitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.myname {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.mytitle {
    font-size: 20px;
    font-weight: bold;
}

ul.hotlinks {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hotlinks li {
    display: inline-block;
    font-size: 14px;
}

.nav-anchor {
    color: #EBEBEB;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/matrix-red.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: #EBEBEB;
    font-size: 28px;
    line-height: 34px;
    padding: 20px;
}

h6 {
    color: #EBEBEB;
    width: 35%;
    font-size: 14px;
    text-align: center;
    padding-top: 40px;
}

.hero-anchor {
    text-align: center;
}

header img {
    transform: rotate(180deg);
}

.bio-pic {
    width: 133px;
    margin: 10px;
    float: left;
    border-radius: 10px;
}

p {
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}

div.heading {
    background-color: #CC0000;
    min-height: 0;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 1;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

div.bio-content {
    background-color: #EBEBEB;
}

div.content {
    background-color: #EBEBEB;
    min-height: 200px;
    font-size: 0;
    display: flex;
}

div.label {
    background-color: #820000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    position: relative;
}

.icons {
    text-align: center;
}

.icon {
    height: 40px;
    margin: 10px;
}

div.meat {
    display: inline-block;
    width: 90%;
}

h4 {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

div.text {
    text-align: center;
}

div.text a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

div.text a:hover, a:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

.desktopSS {
    width: 90%;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
}

div.mobilescreenshots {
    text-align: center;
}

.tabletSS {
    width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.mobileSS {
    width: 25%;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    color: #EBEBEB;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: start;
    position: sticky;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    background-color: #111111;
    color: #EBEBEB;
    padding: 20px;
    text-align: center;
}

div.divider {
    height: 20px;
    background-color: #111111;
}

div.portfolio-divider {
    height: 10px;
    background-color: #D5D5D5;
}

.contact-icon {
    width: 100%;
    height: 100%;
}

div.contacts {
    text-align: center;
}

.contact-anchor {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.pagejump {
    display: block;
    position: relative;
}

.contact-email {
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .myname {
        font-size: 50px;
    }
    
    .mytitle {
        font-size: 30px;
    }
    
    .hotlinks li {
        font-size: 16px;
    }
    
    h1 {
        font-size: 40px;
        line-height: 50px;
        padding: 40px;
    }

    h6 {
        width: 30%;
        font-size: 20px;
        padding-top: 20px;
    }

    .bio-pic {
        width: 300px;
        margin: 20px;
    }
    
    p {
        font-size: 24px;
        line-height: 30px;
        padding: 20px;
    }
    
    div.heading {
        height: 100px;
    }
    
    h2 {
        font-size: 60px;
    }
    
    div.content {
        min-height: 300px;
    }
     
    .icon {
        height: 50px;
        margin: 20px;
    }
        
    h4 {
        font-size: 28px;
    }
        
    div.text a {
        font-size: 24px;
    }
    
    h3 {
        font-size: 30px;
    }
        
    div.divider {
        height: 30px;
    }
    
    div.portfolio-divider {
        height: 20px;
    }
    
    .contact-anchor {
        width: 75px;
        height: 75px;
        margin: 30px;
    }
}

@media screen and (min-width: 1350px) {
    nav {
        flex-direction: row;
    }
    
    div.nameandtitle {
        margin: 20px 40px;
    }

    .myname {
        font-size: 60px;
    }
    
    .mytitle {
        font-size: 35px;
    }
    
    ul.hotlinks {
        width: 50%;
        margin-right: 0;
        justify-content: space-around;
    }
    
    .hotlinks li {
        font-size: 20px;
    }
        
    h1 {
        font-size: 60px;
        line-height: 75px;
        padding: 150px;
    }
    
    h6 {
        width: 20%;
        font-size: 30px;
    }

    section.bio, section.portfolio, section.contact {
        display: flex;
    }

    div.heading {
        height: auto;
        max-width: 40%;
        min-width: 40%; 
    }
    
    div.content-contacts {
        max-width: 60%;
        min-width: 60%;
    }

    div.heading:not(.bio) {
        align-items: flex-start;
    }

    h2 {
        padding-top: 50px;
        padding-bottom: 50px;
        position: sticky;
    }

    h2.bio {
        position: static;
    }

}